<!DOCTYPE html>

<head>
  <meta charset="utf-8">
	<title> Jonas Paquibot </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../resources/images/me1.jpg" type="image/x-icon" />
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZObxlut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- jQuery -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <!-- Animate.css -->
  <link rel="stylesheet" href="../resources/animatecss/animate.css" type="text/css">
	<!-- Custom made CSS by Jonas-->
  <link rel="stylesheet" href="../resources/customcss/landingpage.css" type="text/css">
</head>

<body>
<div id="loader" class="container-fluid p-0 d-fle d-none" style="height:100vh; width:100vw;">
  <div class="container align-self-center">
  <div class="row"><h1 class="text-center mx-auto mobTitle">by Jonas</h1></div>
  <div class="row out mx-auto"></div>
  <div class="row in mx-auto"></div>
  <div class="row out2  mx-auto"></div>
  </div>
</div>
<div id="content" class="container-fluid p-0" style="display:non;">
  
  <div class="row firstBg p-0 m-0">
    <div class="col-12 p-0 py-3 mobTitleBox d-xl-none">
      <h2 class="mobTitle text-center m-0"> Jonas Paquibot </h2>
    </div>
    <div class="col-12 col-xl-6 mx-auto myselfBox p-0 mainShadow d-flex">
      <img src="../resources/images/myself.jpg" class="myselfImage d-block d-xl-none" alt="Myself">

      <div class="d-none d-xl-block">
        <div class="mycard mx-auto mainCard fadeIn">
          <img src="../resources/images/myself.jpg" alt="Avatar" style="width:100%">
            <div class="details bg-light py-2">
              <h4 class="mobTitle text-dark text-center fontPalatino mt-2"><b>Me</b></h4> 
              <p class="mobTitle text-dark text-center fontPalatino"> Web Developer</p> 
            </div>
        </div>
        <div class="mycard mx-auto othCard1 fadeIn">
            <img src="../resources/images/me5.jpg" alt="Avatar" style="width:100%">
        </div>
        <div class="mycard mx-auto othCard2 fadeIn">
            <img src="../resources/images/me7.jpg" alt="Avatar" style="width:100%">
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-6 container-fluid py-3 fadeIn py-3 d-flex mainShadow">
      <div class="row align-self-center">
        <div class="col-xl-6 col-md-7 mx-auto">
          <h1 class="text-center mobTitle fontPalatino"> Hello! </h1>
          <p class="mobTitle fontPalatino text-center"> I am Jonas Paquibot. I am a web designer/developer. I was born on August 24, 1998. I'm from the Philippines. I want to explore cool ideas that can be implemented for web development. Typing lines of code and discovering new techniques always excite me. Learning is always fun if you love and interested in what you are doing!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color:#2A3A37;height:300px;box-shadow: inset 0 0 3px 0 black;"> 

  </div>

  

  <!-- <div class="container-fluid secondBg p-0 py-4 d-flex">
    <div class="row align-self-center mx-auto align-items-center">
      <div class="col-xl-4 py-2 align-center">
        <button type="button" class="btn btn-outline-dark d-block mx-auto px-5 othBtn first"> SKILLS </button>
      </div>
      <div class="col-xl-4 py-2 align-center">
        <button type="button" class="btn btn-outline-dark d-block mx-auto px-5 othBtn second"> EDUCATION </button>
      </div>
      <div class="col-xl-4 py-2 align-center">
        <button type="button" class="btn btn-outline-dark d-block mx-auto px-5 othBtn third"> WEBSITES </button>
      </div>
    </div>
  </div>

  <div class="container-fluid thirdBg p-0 py-4">
    <h2 class="mobTitle text-center m-0"> Social Media </h2>
    <div class="col mt-4">
      <h3 class="mobTitle text-center"> <i class="fab fa-instagram"></i> @jonaspaq </h3>
    </div>
    <div class="col mt-2">
      <h3 class="mobTitle text-center"> <i class="fab fa-twitter"></i> @jonaspaq </h3>
    </div>
    <div class="col mt-2">
      <h3 class="mobTitle text-center"> <i class="fab fa-facebook" id="fbchoy"></i> facebook.com/jonaspaq </h3>
    </div>
  </div> -->

</div>

<script src="../resources/javascript/landingpage.js"></script>

</body>
</html>
